.jbxx h4 {
  display: inline-block;
}
.lxfs h4 {
  display: inline-block;
}

.title {
  float: left;
  width: 200px;
  background-color: #65a5fa;
  height: 879px;
}
.title h1 {
  text-align: center;
  color: #f7faff;
  margin-top: 60px;
}

.body {
  overflow: hidden;
  padding-left: 20px;
  background-color: #f7faff;
}
